body {
    margin: 0;
    background-color: rgb(237, 240, 52);
    color: black;
}

#banner{
    background-image: url("img/batidodefrutas.jpg");
    background-size: 100% 100%;
    
}
#title{
    font-family: 'Orelega One', cursive;
    color:rgb(157 8 10);
    font-size: 20px;
    text-shadow: 5px 3px 4px #eb801a;

}
#title h1 {
    height: 100px;
    background-position: center;
}
#title h1 h5{
    height: 150px;
}
#menu{
    background-size: 100px 100px;
    margin: 0;
    padding: 0;
    border: 0;
    
}
#menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 30px;
}

#menu ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}
#menu ul li a{
    display: block;
    width: 100px;/*menu en linea distanciada*/
    text-decoration: none;
    display: inline;
    float: left;
    padding: 10px 0 0 0;
    
}
#header {
    padding: 14px 16px;
    margin-top: 0 auto;
}
#header a{
    color:black;
}
main{
    display: block;
    float: left;
    background-repeat: no-repeat;
    margin: 0px 80px 0px 80px;
    border: 0;

}
.imgLeft img{
    padding: 0px 30px 0px 30px;
}
.imgLeft {
    padding: 0px 0px 60px 0px;
}
.imgLeft h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    text-align: center;
}
.imgLeft p{
    text-align: center;
    font-size: 22px;
    padding: 0px 30px 0px 30px;
}
.footer {  
    text-align: center;
    width: 100%;
    background-image: url("img/black-background-leather-wallpaper-preview.jpg");
    background-size: 100% 100%;
}
footer{
    background-image: url("img/black-background-leather-wallpaper-preview.jpg");
    background-size: 100% 100%;
    width: 100%;
    color: white;
    position:relative;
    display: block;
    

}
.column{
    float: left;
    padding: 10px;
    background-color: black;
    width: 100%;
}
.column ul{
    list-style: none;
    text-align: center;
}
















